.about-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.about-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.about-container p {
    margin-bottom: 15px;
    color: #555;
    line-height: 1.6;
}