.home-container {
    text-align: center;
    padding: 20px;
}

.hero-section {
    background-color: #333;
    color: white;
    padding: 50px 20px;
}

.hero-section h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-section p {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.hero-section marquee{
    padding: 10px 20px;
    font-size: 1em;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hero-section{
    background-color: #e5b236;
}

.featured-products {
    margin-top: 40px;
}

.featured-products h2 {
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: 600;
    font-style: italic;
}

.product-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.product-item {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-item h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.product-item p {
    font-size: 1.1em;
    color: #555;
}