.products-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.products-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    padding: 10px;
    width: calc(100% - 130px); /* Adjust width to fit within the container */
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.search-bar button {
    padding: 10px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #555;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    justify-content: center;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-item h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.product-item p {
    margin-bottom: 15px;
    color: #555;
    line-height: 1.6;
}

.product-item p:last-of-type {
    font-weight: bold;
    color: #000;
}

.product-item button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-item button:hover {
    background-color: #555;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .search-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .search-bar input {
        width: 100%; /* Full width for small screens */
        margin-right: 0;
    }

    .search-bar button {
        margin-top: 10px;
        width: 100%; /* Full width for small screens */
    }
}
