.cart-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.cart-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
}

.cart-item img {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    margin-right: 20px;
}

.cart-item div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.cart-item h3 {
    margin: 0 0 5px 0;
    font-size: 1.2em;
}

.cart-item p {
    margin: 0 0 10px 0;
    color: #555;
}

.cart-item button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.cart-item button:hover {
    background-color: #555;
}

.clear-cart {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.clear-cart:hover {
    background-color: #555;
}