* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #A91D3A;
    padding: 10px 20px;
    color: white;
}

.logo h1 {
    font-size: 24px;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-links a:hover {
    color: #f0c040;
}

.mobile-menu-icon {
    display: none;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
}

.nav-links-mobile {
    display: none;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        
    }
    .mobile-menu-icon {
        display: block;
    }
    .nav-links-mobile {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #A91D3A ;
        width: 100%;
        height: calc(100vh - 70px);
        text-align: center;
    }
    .nav-links-mobile li {
        margin: 20px 0;
        
    }
}